{% extends 'layout/base.html' %}
{% block title %} Details {% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-md-4">
      <img
        height="450px"
        src="{{product['img_url']}}"
        class="card-img-top"
        alt="..."
      />
    </div>
    <div class="col-md-8">
      <h3 class="text-center display-5">{{product['name']}}</h3>
      <p>
        {{product['description']}}
      </p>
      <p><strong>Material</strong>: {{product['material']}}</p>
      <p><strong>Specification</strong>: {{product['specification']}} cm</p>
      <p><strong>Color</strong>: {{product['color']}}</p>
      <form>
        <div class="row mt-3">
          <p><strong>Quantity</strong></p>
          <div class="col-2">
            <input
              type="number"
              min="1"
              class="form-control"
              placeholder="1"
            />
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <a class="form-control btn btn-primary" href="{{url_for('update', prod_id=product.pid)}}" id="btnUpdate">Update</a>
          </div>
          <div class="col">
            <a class="form-control btn btn-danger" href="{{url_for('delete', prod_id=product.pid)}}" id="btnDelete">Delete</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}